<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>

    <properties>
        <property name="h2-event-seq" value="event_seqaa.nextval" />
        <property name="mariadb-event-seq" value="nextval(event_seq)" />
        <property name="event-nextval" value="${ENV == 'prd' ? 'nextval(event_seq)' : 'event_seq.nextval'}" />
    </properties>

</configuration>
